<div name="alpine-provider" x-data="{open: false}">
    <div class="flex flex-col items-center mt-10">
        <div class="flex gap-5 items-center">
            <div class="tooltip" data-tip="You must set table alias in order to ask AI">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                </svg>
            </div>
            <div id="response-{{ props['table_name'] }}">
                {% if props['table_meta']['alias'] == None %}
                <form hx-post="/change-alias" hx-trigger="submit"
                    hx-vals='{"table_name": "{{ props["table_meta"]["table_name"] }}"}'>
                    <input name='change_alias' class="input input-bordered input-sm"
                        placeholder="Create alias for table"></input>
                    <button class="btn btn-sm" type="submit">Submit</button>
                </form>
                {% else %}
                <div class="flex gap-2">
                    <p>Alias: {{ props['table_meta']['alias'] }}</p>
                    <button class="btn btn-sm" @click="open = !open">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                        </svg>
                    </button>
                    <form hx-post="/change-alias" hx-trigger="submit" x-show="open" x-transition
                        hx-vals='{"room_name": "{{ props["room_name"] }}", "table_name": "{{ props["table_name"] }}"}'
                        hx-target="#response-{{ props['table_name'] }}">
                        <input name='change_alias' class="input input-bordered input-sm"
                            placeholder="Change alias"></input>
                        <button class="btn btn-sm" type="submit">Submit</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="flex flex-col items-center">
            <div class="overflow-x-auto w-[700px] border-2 rounded-xl mt-3">
                <table class="table table-sm table-pin-rows">
                    <thead>
                        <tr>
                            {% for col_name in props['table_view']['columns'] %}
                            <th>{{ col_name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in props['table_view']['data'] %}
                        <tr>
                            {% for cell in row %}
                            <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>