<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/dist/css/output.css" />

    <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body>
    <div class="mt-10 ml-10 flex flex-col gap-3 overflow-y-scroll">
        <div class="flex border-2 rounded-xl h-20 w-[350px]" >
            <img src="../static/imgs/csv.png" class="ml-5 h-[95%]" />
            <div class="flex flex-col mt-3 ml-5">
                <div class="tooltip" data-tip="chemicalchemicalchemical safety manual.pdf">
                    <p class="text-red-500 font-semibold text-base w-[220px] whitespace-nowrap overflow-hidden text-ellipsis">chemicalchemicalchemical safety manual.pdf</p>
                </div>
                <p class="text-base text-red-500">500MB</p>
            </div>
        </div>
        <div class="flex border-2 rounded-xl h-20 w-[350px]" >
            <img src="../static/imgs/csv.png" class="ml-5 h-[95%]" />
            <div class="flex flex-col mt-3 ml-5">
                <div class="tooltip" data-tip="chemicalchemicalchemical safety manual.pdf">
                    <p class=" font-semibold text-base w-[220px] whitespace-nowrap overflow-hidden text-ellipsis">chemicalchemicalchemical safety manual.pdf</p>
                </div>
                <p class="text-base ">500MB</p>
            </div>
        </div>
        <div class="flex border-2 rounded-xl h-20 w-[350px]" >
            <img src="../static/imgs/csv.png" class="ml-5 h-[95%]" />
            <div class="flex flex-col mt-3 ml-5">
                <div class="tooltip" data-tip="chemicalchemicalchemical safety manual.pdf">
                    <p class=" font-semibold text-base w-[220px] whitespace-nowrap overflow-hidden text-ellipsis">chemicalchemicalchemical safety manual.pdf</p>
                </div>
                <p class="text-base ">500MB</p>
            </div>
        </div>
       
    </div>
</body>

</html>