{% extends 'layout.html' %} {% block body %}
<div x-data>
  <form action="/" method="POST" class="mx-auto max-w-[475px] mt-10 border-2 rounded-2xl py-5">
    {{ form.hidden_tag() }}

    {{ form.files(class="hidden", **{"x-ref": "upload_btn" })}}
    {{form.room_name(class="hidden input input-bordered")}}
    {{form.submit(class="btn hidden")}}
    <div class="mx-auto flex flex-col justify-center items-center" id="trigger-upload">
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor"
          class="w-12 h-12">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
        </svg>
      </p>
      <a class="btn btn-outline btn-primary mt-3" @click="$refs.upload_btn.click()">
        Click to upload
      </a>
    </div>
    <div id="haha"></div>
  </form>

  <div class="ml-5 mt-5">
    <div id="file-list" class="mt-10 ml-10 flex flex-col gap-3 overflow-y-scroll"></div>
  </div>
</div>

<script type="module">

  const convertFileSize = (fileSize) => {
    return fileSize / (1024 * 1024) < 0.2 ? `${Math.round(fileSize / (1024))} KB` : `${Math.round(fileSize / (1024 * 1024))} MB`
  }

  const getFileExtension = (filename) => {
    // get file extension
    const extension = filename.substring(filename.lastIndexOf('.') + 1, filename.length);
    return extension;
  }

  const onFilesChange = (fileList) => {
    if(fileList.length === 0) {
      document.getElementById('room_name').classList.add('hidden')
      document.getElementById('submit').classList.add('hidden')
      document.getElementById('trigger-upload').classList.remove('hidden')
    } else {
      document.getElementById('room_name').classList.remove('hidden')
      document.getElementById('submit').classList.remove('hidden')
      document.getElementById('trigger-upload').classList.add('hidden')
    }
  }

  document.getElementById('files').addEventListener('change', (e) => {

    let inner = ''
    let files = []

    const uploadFiles = Array.from(e.target.files)

    uploadFiles.forEach(element => {
      if (element.size > 5 * (10 ** 8)) {
        files = [...files, { name: element.name, size: '> 500MB', ext: getFileExtension(element.name), valid: false }]
      } else {
        files = [...files, { name: element.name, size: convertFileSize(element.size), ext: getFileExtension(element.name), valid: true }]
      }
    });


    files.forEach(x => {
      const newli = `
      <div class="flex border-2 rounded-xl h-20 w-[350px]" >
            <img src="/static/imgs/${x.ext === 'csv' ? 'csv' : 'xlsx'}.png" class="ml-5 h-[95%]" />
            <div class="flex flex-col mt-3 ml-5">
                <div class="tooltip text-left" data-tip="${x.name}">
                    <p class="${x.valid ? 'text-slate-700' : 'text-red-500'} font-semibold text-base w-[220px] whitespace-nowrap overflow-hidden text-ellipsis">${x.name}</p>
                </div>
                <p class="text-base ${x.valid ? 'text-slate-700' : 'text-red-500'}">${x.size}</p>
            </div>
        </div>
      `
      inner += newli
    })

    onFilesChange(files)

    document.getElementById('file-list').innerHTML = inner
  })


</script>
{% endblock %}